################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/air.cloud.account.service/bin/Debug/net6.0
/air.cloud.account.service/obj
/Services/Open/air.cloud.open.entry/bin/Debug/net6.0
/Services/Open/air.cloud.open.entry/obj
/Services/Open/air.cloud.open.model/bin/Debug/net6.0
/Services/Open/air.cloud.open.model/obj
/Services/Open/air.cloud.open.repository/bin/Debug/net6.0
/Services/Open/air.cloud.open.repository/obj
/Services/Open/air.cloud.open.service/bin/Debug/net6.0
/Services/Open/air.cloud.open.service/obj
/Services/Security/air.cloud.security.common/bin/Debug/net6.0
/Services/Security/air.cloud.security.common/obj
/Services/Security/Auth/air.cloud.auth.domain/bin/Debug/net6.0
/Services/Security/Auth/air.cloud.auth.domain/obj
/Services/Security/Auth/air.cloud.auth.entry/bin/Debug/net6.0
/Services/Security/Auth/air.cloud.auth.entry/obj
/Services/Security/Auth/air.cloud.auth.model/bin/Debug/net6.0
/Services/Security/Auth/air.cloud.auth.model/obj
/Services/Security/Auth/air.cloud.auth.repository/bin/Debug/net6.0
/Services/Security/Auth/air.cloud.auth.repository/obj
/Services/Security/Auth/air.cloud.auth.service/bin/Debug/net6.0
/Services/Security/Auth/air.cloud.auth.service/obj
/Services/Security/System/air.cloud.system.domain/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.domain/obj
/Services/Security/System/air.cloud.system.entry/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.entry/obj
/Services/Security/System/air.cloud.system.model/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.model/obj
/Services/Security/System/air.cloud.system.open.service/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.open.service/obj
/Services/Security/System/air.cloud.system.repository/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.repository/obj
/Services/Security/System/air.cloud.system.service/bin/Debug/net6.0
/Services/Security/System/air.cloud.system.service/obj
