.\!rounded-button {
  border-radius: 8px !important;
}

body {
  min-height: 1024px;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.notice-item-content {
  .notice-item-content-title {
    line-height: 20px;
    margin: 0px;
  }

  .notice-item-content-time {
    margin: 0px;
  }
}
